* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.header_sec {
    width: 100%;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.logo {
    pointer-events: none;
    text-decoration: none;
    padding: 0 0 10px 30px;
}

.logo a h4 {
    color: #161C2D;
    font-weight: 600;
}

.links {
    padding: 27px 20px;
}

.links li {
    list-style: none;
    display: inline-block;
}

.links li a {
    color: #161C2D;
    font-weight: 600;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 30px;
    transition: ease-in-out .3s;
}

.links li a:hover {
    color: #fff;
    background: #161C2D;
    padding: 10px 10px;
}

.btn {
    height: 40px;
    margin-top: 20px;
}

.sidebar_links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    z-index: 999;
    background-color: #55555570;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    transition: ease-in-out .5s
}

.sidebar_links li {
    list-style: none;
    display: block;
}

.sidebar_links li a {
    color: #161C2D;
    font-weight: 600;
    text-decoration: none;
    border-radius: 30px;
    line-height: 60px;
    transition: ease-in-out .3s;
}

.sidebar_links li a:hover {
    color: #fff;
    background: #161C2D;
    padding: 10px 10px;

}

.menu_open i {
    font-size: 30px;
    color: #161C2D;
    float: right;
    top: 0;
    right: 0;
    margin-right: 40px;
    display: none;
}

.menu_close i {
    font-size: 40px;
    color: #161C2D;
    float: left;
    top: 0;
    left: 0;
    line-height: 80px;
}

.main_sec {
    margin-top: 80px;
    padding-bottom: 100px;
}

.content h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -2px;
    text-align: center;
    color: #161C2D;
}

.content p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    padding: 25px 0;
    text-align: center;
    color: #555;
}

.img_main {
    width: 100%;
}

.img_main img {
    width: 100%;
    height: inherit;
}

.features {
    padding-bottom: 70px;
}

.features .feature h6 {
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
    padding-top: 30px;
    color: #161C2D;
}

.features .feature p {
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.20000000298023224px;
    padding-top: 10px;
    padding-right: 70px;
    color: #555;
}

.content_1 {
    background: #edf0ef;
    padding-top: 90px;
    padding-bottom: 90px;
}

.content_1 .content_left {
    margin-top: 130px;
}

.content_1 .content_left h4 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2000000476837158px;
    color: #161C2D;
}

.content_1 .content_left p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    color: #555;
}

.content_img {
    width: 100%;
}

.content_img img {
    width: 100%;
    height: inherit;
}

.facts {
    padding-top: 70px;
    padding-bottom: 40px;
    border-bottom: 1px solid #55555570;
}

.fact {
    display: flex;
}

.facts .fact h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -1.7999999523162842px;
    color: #161C2D;
}

.facts .fact p {
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.20000000298023224px;
    padding-left: 30px;
    color: #555;
}

.content_2 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.content_2 .title h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: center;
    color: #161C2D;
}

.content_2 .title p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    padding: 10px 0;
    text-align: center;
    color: #555;
}

.content_2 .content_right .abt_content {
    padding-left: 20px;
}

.content_2 .content_right .abt_content h6 {
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #161C2D;
}

.content_2 .content_right .abt_content p {
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.20000000298023224px;
    color: #555;
}

.testimonial {
    background: #edf0ef;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.testimonial .testimonial_box {
    display: block;
    text-align: center;
}

.testimonial .testimonial_box h6 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.5px;
    padding-top: 40px;
    color: #161C2D;
}

.testimonial .testimonial_box p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #555;
}

.testimonial .testimonial_box b {
    color: #161C2D;
}

.testimonial .testimonial_box span {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #555;
}

.testimonial::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 160px;
    background: #55555570;
    left: 680px;
    bottom: 170px;
}

.pricing {
    background: #161C2D;
    padding-top: 80px;
    padding-bottom: 70px;
}

.pricing .title h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.2000000476837158px;
    text-align: center;
    color: #fff;
}

.pricing .title p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #fff;
    opacity: 70%;
}

.pricing .card {
    text-align: center;
    padding: 30px 40px 10px 40px;
}

.pricing .card h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -1.7999999523162842px;
    padding-top: 20px;
    color: #161C2D;
}

.pricing .card span {
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.20000000298023224px;
    color: #555;
    opacity: 70%;
}

.pricing .card p {
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.20000000298023224px;
    padding-top: 30px;
    color: #161C2D;
    opacity: 90%;
}

.FAQ {
    background: #161C2D;
    padding-top: 70px;
    padding-bottom: 80px;
}

.FAQ .que .que_content h6 {
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #fff;
}

.FAQ .que .que_content p {
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.20000000298023224px;
    color: #fff;
    opacity: 60%;
}

.FAQ .another_link {
    text-align: center;
    padding-top: 50px;
}

.CTA .title h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.2000000476837158px;
    color: #161C2D;
}

.CTA{
    padding-top: 80px;
    padding-bottom: 50px;
}

.CTA .title p {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    color: #555;
}

footer{
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid #edf0ef;
}

footer .footer_content1 h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.15555556118488312px;
    color: #161C2D;
}

footer .footer_content1 p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.10000000149011612px;
    color: #555;
}

footer .footer_content1 .social_media i {
    padding: 5px;
    color: #161C2D;
}

footer .footer_content2 p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.10000000149011612px;
    color: #555;
}

footer .footer_content2 h6 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.20000000298023224px;
    color: #161C2D;
}


/* Responsive */

@media (max-width: 1024px) {
    .testimonial::after{
        margin-left: -150px;
    }
}

@media (max-width: 768px) {
    .testimonial::after{
        width: 60%;
        height: 1px;
        top: 490px;
        left: 300px;
    }
    .testimonial_box{
        padding-top: 40px;
    }

    .pricing .card{
        margin: 10px;
    }
    .footer_content2{
        padding-top: 30px;
    }
    .CTA .btns{
        padding-left: 130px;
    }
}

@media (max-width: 682px) {
    .links li,
    .header_sec .btn {
        display: none;
    }

    .menu_open i {
        display: block;
    }   
}

@media (max-width:425px) {
    .sidebar_links{
        width: 100%;
    }
    .testimonial::after{
        width: 55%;
        height: 1px;
        top: 490px;
        left: 245px;
    }
}

@media (max-width: 375px) {
    .testimonial::after{
        width: 55%;
        height: 1px;
        top: 490px;
        left: 240px;
    }
    .content_right p{
        padding-right: 100px;
    }
}

@media (max-width: 320px) {
    .testimonial::after{
        width: 75%;
        height: 1px;
        top: 520px;
        left: 190px;
    }
}